.userbackground
  .user
    .user_header 
      .user_header_sign_in
        SIGN IN
      .user_header_signup
        =link_to  "SIGN UP", new_user_registration_path, class:"user_header_url"
    .user_field
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .user_field_email
          = f.label :email, class:"user_field_label"
          %br= f.email_field :email, autofocus: true, autocomplete: "email", autocomplete:"off", class:"user_field_form"
        .user_field_password
          = f.label :password, class:"user_field_label"
          %br= f.password_field :password, autocomplete: "current-password", class:"user_field_form"
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
          = f.label :次回から自動でログインしますか, class: "user_field_label"
          .actions
        = f.submit "sign in", class:"user_field_submit"
      = render "devise/shared/links"